# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.manifest
*.spec

# Virtual environment
venv/
ENV/
env/
.venv/
*.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/
*.ipynb_save

# Logs / temp files
*.log
*.tmp
*.swp
*.DS_Store

# Data files (optional — if dataset is too big or private)
*.parquet
*.db

# Cache
.cache/
.pytest_cache/
 notebooks/